name: muslim_kids_app
description: Islamic Education App for Kids
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - content/urdu.json
    - content/arabic.json
    - content/english.json
    - assets/images/logo.png
